<div class="main">
  
    <div *ngFor="let item of fbs.fetchedNotes" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><strong><u>{{item.title}}</u></strong></h5>
          <div class="notesDisply" [innerHTML]="item.notes"></div>
          <div class="cardfooter">
            <p class="card-text"><small style="color: #fff;" class="text">{{getDate(item.date.seconds) |date:'medium'}}</small></p>
           <div class="options">
            <img (click)="editData(item.id)" src="../../assets/img/edit.svg" alt="edit">
            <img (click)="this.fbs.deleteEditRecord(item.id,'delete')" src="../../assets/img/delete.svg" alt="edit">
           </div>
          </div>         
        </div>        
      </div>
</div>
<div *ngIf="!fbs.user || !fbs.fetchedNotes" class="nocards">
<div *ngIf="!fbs.user" style="margin: auto; text-align: center;" class="pleaselogin">
<h1 style="cursor: pointer;" (click)="fbs.LoginWithGooogle()">Please login with Google</h1>
</div>
<div *ngIf="fbs.user && fbs.fetchedNotes" style="margin: auto; text-align: center;" class="NOcards">
<h1 *ngIf="fbs.fetchedNotes.length ===0">No Cards</h1>
</div>
</div>
