.main{
    margin: auto;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        margin-bottom: 2em;
        background-color: rgb(241, 163, 46);
        .card-title{
            text-align: center;
        }
        .notesDisply{
            height: 10em;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 1em;
            
        }
        .cardfooter{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .options{
                display: flex;
                justify-content: space-evenly;
                width: 30%;
                img{
                    width: 1em;
                    height: 1em;
                    cursor: pointer;
                }
            }
            
        }
    }    
}