<div *ngIf="fb.user" class="main">
    <form class="Notesfrom" [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" formControlName="title" class="form-control" id="exampleFormControlInput1"   required placeholder="Notes Title">
          <div class="invalid-feedback">
           Required
          </div>
        </div>
          <label for="exampleFormControlTextarea1">Notes</label>
          <!-- <textarea formControlName="notes" class="form-control" #notesDetails  required id="exampleFormControlTextarea1" rows="3"></textarea> -->
         <ckeditor id="exampleFormControlTextarea1"  [editor]="Editor" data="<p>Hello, world!</p>"  required formControlName="notes"></ckeditor>
         <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Add notes</button>
      </form>
</div>
<div *ngIf="!fb.user || !fb.fetchedNotes" class="nocards">
  <div *ngIf="!fb.user" style="margin: auto; text-align: center; margin-top: 2em;" class="pleaselogin">
    <h1 style="cursor: pointer;" (click)="fb.LoginWithGooogle()">Please login with Google</h1>
  </div>
  </div>