.Notesfrom{
   max-width: 20em;
   align-self: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
    .headding{
        margin: auto;
    }
}
:host ::ng-deep .ck-editor__editable_inline {
    height: 250px;
    overflow-y: auto;
    margin-bottom: 1em;
}