<div  class="card">
    <div class="from">
      <h2 style="color: #fff; font-weight: bold;">Login</h2>
        <form class="Notesfrom" [formGroup]="formRegister" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label for="exampleFormControlInput1">Mail</label>
                <input type="text" formControlName="Mail" class="form-control" id="Mail"   required placeholder="jhon@mail.com">
               
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Password</label>
              <input type="password" formControlName="pass" class="form-control" #notesDetails placeholder="@myP@$$" required id="pass">
            </div>
            <button class="btn btn-primary" [disabled]="!formRegister.valid" type="submit">Login</button>
            <p (click)="this.route.navigate(['register'])" style="cursor: pointer; color: #fff;">Not registered yet? Register</p>
          </form>
    </div>
</div>
