<div style="display: flex;justify-content: center;" class="main">
    <div class="options" *ngIf="fb.user && fb.role !== 'teacher'">
        <button type="button" (click)="goTo('add_notes')" class="btn btn-primary">Add Notes</button>
        <button type="button" (click)="goTo('show_notes')" class="btn btn-primary">Show Notes <span class="bdg badge badge-light">{{this.fb.fetchedNotes && this.fb.fetchedNotes.length}}</span></button>
     </div>
     <div style="margin: auto;  display: flex; flex-direction: column; justify-content: center;" class="" *ngIf="fb.user && fb.role == 'teacher' && fb.Students">  
            <h1 style="margin: auto; margin-bottom: 1em;">Students</h1> 
            <button style="margin-top: 1em;" *ngFor="let s of fb.Students"  type="button" (click)="gotostudent(s.Uid)" class="btn btn-primary">{{s.Name}}</button>
         </div>
</div>